doctype html
html(lang="ru")

    head

        meta(charset="UTF-8")
        meta(http-equiv="x-ua-compatible" content="ie=edge")
        title
        meta(name="description" content="")
        link(rel="stylesheet" href="css/app.min.css")

    body

        <!--[if lt IE 9]>
        <div class="browserupgrade">Ваш браузер <strong>устарел</strong>. Для полноценного просмотра желательно <a href="http://browsehappy.com/">обновить его</a></div>
        <![endif]-->

        block main

        script(src="js/app.min.js")